html, body {
  overflow-x:hidden;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    overflow-x: none;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px black;
    position: sticky;
    background-color:#0f3c4c;
    
  }

  #dropp{
    background-color:#0f3c4c;
    color: white;
  }

  header{
    height: 80vh;
  }
  .recipe{
    background-color:#0f3c4c
  }

  #recipebutton{
    min-width: 200px;
  }

.btn3{
  background-color: #0f3c4c;
}


  /* footer */
  footer{
    margin: 0px 60px;
    margin-top: 40px;
    }

    .bottom ul{
      display: flex;
      align-items: center;
      list-style: none;
      border-radius: 20%;
    }
   
    .top-center ul{
      list-style: none;
      text-decoration: none;
    }

    #modal1{
      background-image: url(../assets/images/chicken-curry2.webp);
      background-size: cover;
      font-weight: bold;
    }

    #modal2{
      background-image: url(../assets/images/close-up-of-a-plate-of-lasagna.jpg);
      background-size: cover;
      font-weight: bold;
    }

    #modal3{
      background-image: url(../assets/images/mushroom-risotto-3.webp);
      background-size: cover;
      font-weight: bold;
    }
#name1{
  color: #0f3c4c;
  font-weight: bold;
  font-size: 40px;
}

#confirm{display: none;}